.hero {
    width: 100%;
    height: 100Vh;
    background: linear-gradient(rgba(8, 0, 58, 0.5), rgba(8, 0, 58, 0.5)), url('../../assets/college.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-weight: 600;
    font-size: 40px;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}